@import url(../vendor/normalize.css);
@import url(../vendor/fonts/open-sans/open-sans.css);

/* Начинаем с мобильной версии */

/* Предварительный план */
/* - Мобильная версия */
/* - Медиазапросы */
/* - Интерактивность и анимации */
/* - Валидация формы */
/* - Рефакторинг */

/* Пишем стили без префиксов для браузера Chrome - автопрефикс и полифилы добавим при сборке */

.page {
  max-width: 320px;
  min-height: 100vh;
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  font-family: 'Open Sans', Arial, sans-serif;
  color: #FFFFFF;
  /* Фон */
  background: #001337;
  /* Параметры оптимизации шрифта */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.menu {
  max-width: 320px;
  height: 100vh;
  display: none;
  /*display: flex;*/
  flex-direction: column;
  background-color: #000D26;
}

.logo {
  background-image: url(../image/Logo.svg);
}

.logo_place_navigation {
  width: 71px;
  height: 24px;
  margin-left: 16px;
  margin-top: 10px;
}

.closeButton {
  width: 24px;
  height: 24px;
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.closeButton_menu {
  position: absolute;
  background-image: url(../image/closeButtonWhite.svg);
  top: 12px;
  right: 16px;
}

.menu__list {
  width: 100%;
  list-style-type: none;
  padding: 26px 0 0 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu__list-item {
  width: 100%;
  height: 44px;
}

.menu__text {
  display: flex;
  height: 100%;
  padding-left: 16px;
  box-sizing: border-box;
  text-decoration: none;
  align-items: center;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}

.menu__list-item:active {
  background-color: #001337;
}

.menu__list_type_education {
  display: none;
  padding: 0;
}

.menu__list-item_type_sublist {
  height: max-content;
}

.menu__list-item_type_sublist:active {
  background-color: #000D26;
}

.menu__text_type_label {
  cursor: pointer;
  height: 44px;
  width: 100%;
}

.menu__checkbox {
  display: none;
}

.menu__checkbox:checked ~ .menu__list_type_education {
  display: flex;
}

.menu__checkbox:checked ~ .menu__list_type_education .menu__text {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.menu__checkbox:checked ~ .menu__text_type_label {
  font-weight: 600;
}

.menu__list-item_inactive{
  opacity: 0.5;
}