@import url(../vendor/normalize.css);
@import url(../vendor/fonts/open-sans/open-sans.css);

/* Начинаем с мобильной версии */

/* Предварительный план */
/* - Мобильная версия */
/* - Медиазапросы */
/* - Интерактивность и анимации */
/* - Валидация формы */
/* - Рефакторинг */

/* Пишем стили без префиксов для браузера Chrome - автопрефикс и полифилы добавим при сборке */

.page {
  max-width: 320px;
  min-height: 100vh;
  /* Позиционирование */
  margin: 0 auto;
  /* Параметры текста */
  font-family: 'Open Sans', Arial, sans-serif;
  color: #FFFFFF;
  /* Фон */
  background: #001337;
  /* Параметры оптимизации шрифта */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__cap {
  min-width: 287px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 0 16px 40px 17px;
}

.logo {
  background-image: url(../image/Logo.svg);
  background-repeat: no-repeat;
}

.logo_place_footer {
  width: 98px;
  height: 33px;
  background-size: contain;
}

.footer__copyright {
  width: 140px;
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

.footer__columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 16px;
}

.footer__column {
  margin-bottom: 38px;
}

.footer__title {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.0588372px;
}

.footer__list {
  list-style-type: none; 
  padding: 0;
  margin: 8px 0 0;
}

.footer__text {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.footer__column_content_about {
  margin-right: 70px;
}

.footer__column_content_contacts {
  width: 286px;
}

.footer__list_contact {
  margin: 0;
}

.footer__title_contact {
  padding-bottom: 3px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0;
}

.footer__text_contact {
  margin: 0;
  padding-top: 8px;
}

.footer__links {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin-top: 20px;
  list-style-type: none; 
}

.footer__link {
  margin-right: 8px;
  text-decoration: none;
}

.footer__author {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  opacity: 0.5;
}